# GroupBy and Aggregate functions

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Aggregate').getOrCreate()

c:\python36\lib\site-packages\pyspark\context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [10]:
df_pyspark=spark.read.csv('Test3.csv',header=True,inferSchema=True)
df_pyspark.show()

+------+------------+------+
|  Name| Departments|Salary|
+------+------------+------+
| Owais|Data Science| 40000|
|Zubair|    Big Data| 45000|
| Aijaz|    Big Data| 25000|
| Bilal|Data Science| 70000|
| Owais|         IoT|  7000|
| Aijaz|Data Science| 38000|
| Bilal|         IoT| 55000|
|Zubair|    Big Data| 13000|
+------+------------+------+

In [11]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [12]:
## GroupBy
## Grouped to find maximum salary
df_pyspark.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
| Bilal|     125000|
| Owais|      47000|
|Zubair|      58000|
| Aijaz|      63000|
+------+-----------+

In [13]:
## GroupBy departments which give max salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IoT|      62000|
|    Big Data|      83000|
|Data Science|     148000|
+------------+-----------+

In [14]:
## GroupBy departments mean salary
df_pyspark.groupBy('Departments').mean().show()

+------------+------------------+
| Departments|       avg(Salary)|
+------------+------------------+
|         IoT|           31000.0|
|    Big Data|27666.666666666668|
|Data Science|49333.333333333336|
+------------+------------------+

In [15]:
## GroupBy to count people in departments 
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IoT|    2|
|    Big Data|    3|
|Data Science|    3|
+------------+-----+

In [16]:
# directly using aggregate function
# sum of all the salaries
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     293000|
+-----------+