# Filter Operation on Pyspark Dataframe
- &, |, ==
- ~

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('dataframe').getOrCreate()

c:\python36\lib\site-packages\pyspark\context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [6]:
df_pyspark=spark.read.csv('Test.csv',header=True,inferSchema=True)

In [7]:
df_pyspark.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Owais| 34|         7| 40000|
|Zubair| 35|        10| 45000|
| Aijaz| 34|         2| 25000|
| Bilal| 35|         8| 70000|
|Ishfaq| 28|         4| 22000|
+------+---+----------+------+

# Filter Operations

In [8]:
# Salary greater or equal to 20000
df_pyspark.filter("Salary>=20000").show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Owais|  34|         7| 40000|
|Zubair|  35|        10| 45000|
| Aijaz|  34|         2| 25000|
| Bilal|  35|         8| 70000|
|Ishfaq|  28|         4| 22000|
|Sameer|null|      null| 38000|
|  null|  46|         9| 41000|
+------+----+----------+------+

In [9]:
# To selwct particular column/s based on a condition
df_pyspark.filter('Salary>=20000').select(['Name','Age']).show()

+------+----+
|  Name| Age|
+------+----+
| Owais|  34|
|Zubair|  35|
| Aijaz|  34|
| Bilal|  35|
|Ishfaq|  28|
|Sameer|null|
|  null|  46|
+------+----+

In [13]:
# Another way of selecting
df_pyspark.filter(df_pyspark['Salary']>=20000).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Owais|  34|         7| 40000|
|Zubair|  35|        10| 45000|
| Aijaz|  34|         2| 25000|
| Bilal|  35|         8| 70000|
|Ishfaq|  28|         4| 22000|
|Sameer|null|      null| 38000|
|  null|  46|         9| 41000|
+------+----+----------+------+

In [15]:
df_pyspark.filter((df_pyspark['Salary']>=20000) & 
                  (df_pyspark['Salary']<=35000)).show()  # we can use OR (|) operation as well

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Aijaz| 34|         2| 25000|
|Ishfaq| 28|         4| 22000|
+------+---+----------+------+

In [18]:
# using NOT (~) operator
df_pyspark.filter(~(df_pyspark['Salary']<=25000)).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Owais|  34|         7| 40000|
|Zubair|  35|        10| 45000|
| Bilal|  35|         8| 70000|
|Sameer|null|      null| 38000|
|  null|  46|         9| 41000|
+------+----+----------+------+