# PySpark handling missing values
- Dropping Rows with NaN values
- Various parameters in dripping functionalities
- Handling missing values by Mean, Median, Mode

In [1]:
## Start Spark Session
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()

c:\python36\lib\site-packages\pyspark\context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [2]:
# Load dataset
df_pyspark=spark.read.csv('Test2.csv',header=True,inferSchema=True)

In [3]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Owais|  34|         7| 40000|
|Zubair|  35|        10| 45000|
| Aijaz|  34|         2| 25000|
| Bilal|  35|         8| 70000|
|Ishfaq|  28|         4| 22000|
|Sameer|null|      null| 38000|
|  null|  46|         9| 41000|
|  null|  36|      null|  null|
+------+----+----------+------+

In [4]:
# drop had 3 parameters how=any/all, thresh=integervalue, Subset  
# drop rows with null values
df_pyspark.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Owais| 34|         7| 40000|
|Zubair| 35|        10| 45000|
| Aijaz| 34|         2| 25000|
| Bilal| 35|         8| 70000|
|Ishfaq| 28|         4| 22000|
+------+---+----------+------+

In [7]:
## how=any -> means row that have any column with null value will be deleted
## how=all -> means row that have all columns with null value will be deleted 
df_pyspark.na.drop(how='any').show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Owais| 34|         7| 40000|
|Zubair| 35|        10| 45000|
| Aijaz| 34|         2| 25000|
| Bilal| 35|         8| 70000|
|Ishfaq| 28|         4| 22000|
+------+---+----------+------+

In [8]:
## threshold
## thresh=2 means row with 2 non-null values will not be deleted 
## any row with only one null value in any of the column will be deleted 
df_pyspark.na.drop(how='any',thresh=2).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Owais|  34|         7| 40000|
|Zubair|  35|        10| 45000|
| Aijaz|  34|         2| 25000|
| Bilal|  35|         8| 70000|
|Ishfaq|  28|         4| 22000|
|Sameer|null|      null| 38000|
|  null|  46|         9| 41000|
+------+----+----------+------+

In [9]:
## Subset means if we want to drop a row using a particular column
# row with null value in age column will be deleted
df_pyspark.na.drop(how='any',subset=['Age']).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Owais| 34|         7| 40000|
|Zubair| 35|        10| 45000|
| Aijaz| 34|         2| 25000|
| Bilal| 35|         8| 70000|
|Ishfaq| 28|         4| 22000|
|  null| 46|         9| 41000|
|  null| 36|      null|  null|
+------+---+----------+------+

In [34]:
### Filling the missing values
# But it works on columns of type string
df_pyspark.na.fill('Missing Value').show()

+-------------+----+----------+------+
|         Name| Age|Experience|Salary|
+-------------+----+----------+------+
|        Owais|  34|         7| 40000|
|       Zubair|  35|        10| 45000|
|        Aijaz|  34|         2| 25000|
|        Bilal|  35|         8| 70000|
|       Ishfaq|  28|         4| 22000|
|       Sameer|null|      null| 38000|
|Missing Value|  46|         9| 41000|
|Missing Value|  36|      null|  null|
+-------------+----+----------+------+

In [23]:
### Filling the missing values
# Here we can check null value is replaced by 0 in columns of type integer
# Name column is of type string so we can see null is not replaced
df_pyspark.na.fill(0).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Owais| 34|         7| 40000|
|Zubair| 35|        10| 45000|
| Aijaz| 34|         2| 25000|
| Bilal| 35|         8| 70000|
|Ishfaq| 28|         4| 22000|
|Sameer|  0|         0| 38000|
|  null| 46|         9| 41000|
|  null| 36|         0|     0|
+------+---+----------+------+

In [28]:
# Replace null on particular columns
df_pyspark.na.fill(0,['Age','Experience']).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Owais| 34|         7| 40000|
|Zubair| 35|        10| 45000|
| Aijaz| 34|         2| 25000|
| Bilal| 35|         8| 70000|
|Ishfaq| 28|         4| 22000|
|Sameer|  0|         0| 38000|
|  null| 46|         9| 41000|
|  null| 36|         0|  null|
+------+---+----------+------+

In [29]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Owais|  34|         7| 40000|
|Zubair|  35|        10| 45000|
| Aijaz|  34|         2| 25000|
| Bilal|  35|         8| 70000|
|Ishfaq|  28|         4| 22000|
|Sameer|null|      null| 38000|
|  null|  46|         9| 41000|
|  null|  36|      null|  null|
+------+----+----------+------+

# Now we will use the imputer function to replace null values with mean/median/mode
# imputer functions are also used in scikit learn as well

In [32]:
from pyspark.ml.feature import Imputer

imputer=Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]).setStrategy("mean") # can use mean/median/mode

In [33]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
| Owais|  34|         7| 40000|         34|                 7|         40000|
|Zubair|  35|        10| 45000|         35|                10|         45000|
| Aijaz|  34|         2| 25000|         34|                 2|         25000|
| Bilal|  35|         8| 70000|         35|                 8|         70000|
|Ishfaq|  28|         4| 22000|         28|                 4|         22000|
|Sameer|null|      null| 38000|         35|                 6|         38000|
|  null|  46|         9| 41000|         46|                 9|         41000|
|  null|  36|      null|  null|         36|                 6|         40142|
+------+----+----------+------+-----------+------------------+--------------+