In [2]:
import pandas as pd
df = pd.read_csv('Test.csv')
df

     Name  Age
0   Owais   34
1  Zubair   35
2   Aijaz   34
3   Bilal   35
4  Ishfaq   28

In [3]:
#!pip install pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

c:\python36\lib\site-packages\pyspark\context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [6]:
spark

In [7]:
df_pyspark=spark.read.csv('Test.csv')

In [8]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|Age|
| Owais| 34|
|Zubair| 35|
| Aijaz| 34|
| Bilal| 35|
|Ishfaq| 28|
+------+---+

To make the first row as header

In [6]:
df_pyspark=spark.read.option('header','true').csv('Test.csv')
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
| Owais| 34|
|Zubair| 35|
| Aijaz| 34|
| Bilal| 35|
|Ishfaq| 28|
+------+---+

In [15]:
#df_pyspark.head(3)
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

From here onwards its just normal python practice code

In [18]:
array = ["Welcome", "to", "tur"]
print("-".join(array))
print(type(array))

Welcome-to-tur
<class 'list'>

In [20]:
def fun1():
    x=50
    return x
x = fun1()
print(x)

50

In [21]:
d = {"John":40}
d.keys()

dict_keys(['John'])

In [24]:
t = '%(a)s %(b)s %(c)s'
print(t % dict(a='welcome', b='to', c='Turing'))

welcome to Turing

In [26]:
l1 =[1,2,3]
l2=[3,4,5]
res=l1+l2
res

[1, 2, 3, 3, 4, 5]

In [29]:
z=set('abc')
z.add('san')
z.update(set(['p','q']))
z

{'a', 'b', 'c', 'p', 'q', 'san'}

In [30]:
import re
result= re.findall('welcome to turing', 'welcome',1)
print(result)

[]