# We will cover
- PySpark Daraframe
- Reading the Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns and Indexing
- Adding Columns
- Dropping Columns
- Renaming Columns

In [ ]:
# Create Spark Session 
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

c:\python36\lib\site-packages\pyspark\context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [3]:
# Check spark --> which will be running in memory
spark

In [8]:
## read the dataset Method 1
df_pyspark=spark.read.option('header','true').csv('Test.csv',inferSchema=True)
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Owais| 34|         7|
|Zubair| 35|        10|
| Aijaz| 34|         2|
| Bilal| 35|         8|
|Ishfaq| 28|         4|
+------+---+----------+

In [9]:
## check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [10]:
## read the dataset Method 2
df_pyspark=spark.read.csv('Test.csv',header=True,inferSchema=True)
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Owais| 34|         7|
|Zubair| 35|        10|
| Aijaz| 34|         2|
| Bilal| 35|         8|
|Ishfaq| 28|         4|
+------+---+----------+

In [11]:
## check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
# Check the columns in a dataframe
df_pyspark.columns

['Name', 'Age', 'Experience']

In [15]:
df_pyspark.head(3)

[Row(Name='Owais', Age=34, Experience=7),
 Row(Name='Zubair', Age=35, Experience=10),
 Row(Name='Aijaz', Age=34, Experience=2)]

In [16]:
# to select one column
df_pyspark.select('Name').show()

+------+
|  Name|
+------+
| Owais|
|Zubair|
| Aijaz|
| Bilal|
|Ishfaq|
+------+

In [20]:
# to select multiple columns
# it will return a dataframe with multiple columns
df_pyspark.select(['Name','Experience'])

DataFrame[Name: string, Experience: int]

In [21]:
df_pyspark.select(['Name','Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
| Owais|         7|
|Zubair|        10|
| Aijaz|         2|
| Bilal|         8|
|Ishfaq|         4|
+------+----------+

In [24]:
# To check data types of columns in a dataframe
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [25]:
df_pyspark.describe().show()

+-------+------+------------------+------------------+
|summary|  Name|               Age|        Experience|
+-------+------+------------------+------------------+
|  count|     5|                 5|                 5|
|   mean|  null|              33.2|               6.2|
| stddev|  null|2.9495762407505253|3.1937438845342623|
|    min| Aijaz|                28|                 2|
|    max|Zubair|                35|                10|
+-------+------+------------------+------------------+

In [27]:
### Adding Columns in pyspark dataframe
## we added 2 years to experience we already had
df_pyspark.withColumn('Experience after 2 year',df_pyspark['Experience']+2).show()

+------+---+----------+-----------------------+
|  Name|Age|Experience|Experience after 2 year|
+------+---+----------+-----------------------+
| Owais| 34|         7|                      9|
|Zubair| 35|        10|                     12|
| Aijaz| 34|         2|                      4|
| Bilal| 35|         8|                     10|
|Ishfaq| 28|         4|                      6|
+------+---+----------+-----------------------+

In [30]:
### Drop the column/s
df_pyspark=df_pyspark.drop('Experience after 2 year')

In [31]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Owais| 34|         7|
|Zubair| 35|        10|
| Aijaz| 34|         2|
| Bilal| 35|         8|
|Ishfaq| 28|         4|
+------+---+----------+

In [32]:
### Rename a column
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|   Owais| 34|         7|
|  Zubair| 35|        10|
|   Aijaz| 34|         2|
|   Bilal| 35|         8|
|  Ishfaq| 28|         4|
+--------+---+----------+